@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
.html,body{
    padding: 0;
    margin: 0;
    background-color:#8CC461;
    font-family: "Roboto", sans-serif;
}
/* <!!----------FIRST PAGE-------------------------> */
.container{
    width: 100%;
    height: 100vh;
}
/* <!!!!!!!!----------SCORE BOARD---------------------> */
.score-board-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.score-board{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    border: white 2px solid;
    border-radius: 12px;
    height: 130px;
    width: 700px;
    padding: 10px;
}
.items{
    color: white;
    font-weight: 600;
    font-size: 35px;
}
.score-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 270px;
}
.card{
    height: 115px;
    width: 120px;
    background-color: white;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    color:#656565;
    border-radius: 9px;
    padding-top: 4px;
}
.updatePcScore{
    padding-top: 5px;
    font-size: 55px;
    color: #252525;
}
.updateUserScore{
    padding-top: 5px;
    font-size: 55px;
    color: #252525;
}
.play-board-container{
    display: flex;
    width: 100%;
    margin-top: 40px;
    justify-content: center;
}
.paper:hover{
    transform: scale(1.1);
}
.rock:hover{
    transform: scale(1.1);
}
.scissor:hover{
    transform: scale(1.1);
}
.play-board{
    position: relative;
    width: 400px;
    height: 355px;
}
/* <!!!!!=============Play-Board=================!!!!!> */
.outer-circle{
    position: absolute;
    height: 155px;
    width: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.component{
    position: absolute;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 3px 0 21px 1px #00000033;
}
.component:hover{
    cursor: pointer;
    animation: forwards;
}
.rock-outer{
    background-color: #0074B6;
    top: 0;
    left: 0;
}
.paper-outer{
    bottom: 0;
    left: 35%;
    background-color: #FFA943;
}
.scissor-outer  {
    top: 0;
    right: 0;
    background-color: #BD00FF;
}
.line{
  position: absolute;
  width: 250px;
  height: 0px;
  border: 7px solid #000000a3;
  z-index: -1;
}
.line-1{
    top: 0;
    left: 30px;
    top: 60px;
}
.line-2{
    transform: rotate(60deg);
    top:140px;
    left: -10px;
}
.line-3{
    transform: rotate(120deg);
    top:130px;
    left:170px;
}
.rules-container{
    position: absolute;
    height: 340px;
    width: 300px;
    background-color: black;
    bottom: 90px;
    right: 30px;
    border: white solid 7px;
    border-radius: 13px;
    background-color: #004429;
    z-index: 10;
}
.rule-heading{
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    color: white;
    font-weight: 400;
}
.rules li{
    font-size: 15px;
    font-weight: 400;
    padding-top: 10px;
    list-style-type: square;
    color: white;
    padding: 6px;
    padding-bottom: 10px;
}
.rules li::marker{
    color: #FFD600;
}
.cross{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -2.8rem;
    right: -2rem;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 5px solid white;
    background-color: red;
    color: white;
    font-weight: 400;
    font-size: 3rem;
    text-align: center;
}
.cross:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.div-buttons{
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 16rem;
    bottom: 4%;
    right: 4%;
    justify-content: space-between;
}
.playboard-rule-button{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.3rem;
    width: 6.5rem;
    font-size: 1.5rem;
    bottom: 4%;
    right: 4%;
    color: white;
    border: white solid 3px;
    border-radius: 10px;
    letter-spacing: 0.2rem;
    text-align: center;
}
.result-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.3rem;
    width: 6.5rem;
    font-size: 1.5rem;
    color: white;
    border: white solid 3px;
    border-radius: 10px;
    letter-spacing: 0.2rem;
}
.result-buttons:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.playboard-rule-button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

/* RESULT BOARD */

.result-board-container{
    width:100%;
    height: 355px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.result-board{
    position: absolute;
    left: 20%;
    display: flex;
    align-items: center;
    width: 800px;
    justify-content: space-between;
}
.users-choice{
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    background-color: white;
    border: #FFA943 solid 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.win-circle-1{
    border-radius: 50%;
    padding: 3rem;
    background-color: #2f9a25;
}
.win-circle-2{
    border-radius: 50%;
    padding: 1.5rem;
    background-color: #2f9a25c7;
}
.win-circle-3{
    border-radius: 50%;
    padding: 1rem;
    background-color: #2f9a254e;
}
.picked{
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: white;
}
.heading{
    position: absolute;
    top: -40%;
}
.pc-choice{
    height: 8rem;
    width: 8rem;
    border-radius: 50%; 
    background-color: white;
    border: #FFA943 solid 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.result-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.result-text-1{
    color: white;
    font-size: 60px;
    font-weight: 800;
}
.result-text-2{
    color: white;
    font-size: 25px;
    font-weight: 800;
}
.play-again-btn{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 13rem;
    color: #6B6B6B;
    letter-spacing: 0.4rem;
    background-color: white;
    border-radius: 9px;
    font-weight: 600;
    font-size: 15px;
}
.play-again-btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.hideDiv{
    display: none;
}

/* LAST PAGE */
.final-page{
    padding: 0;
    margin: 0;
    border: 0;
    overflow: hidden;
    
}
.last-page-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}
.stars{
    position: absolute;
    top: 5%;
}
.trophy{
    margin-bottom: 1.4rem;
    margin-top: 1rem;
}
.heading-1{
    color: white;
    letter-spacing: 10%;
    font-size: 90px;
    font-weight: 600;
}
.heading-2{
    color: white;
    letter-spacing: 10%;
    font-size: 40px;
    font-weight: 600;
}
.play-again-button-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 2.8rem;
    color: #6B6B6B;
    background-color: white;
    font-size: 16px;
    border-radius: 9px;
    position: absolute;
    bottom: 8%;
}
.play-again-button-2:hover{
    cursor: pointer;
    transform: scale(1.1);
}
